Importing libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

Importing the dataset

In [2]:
data = pd.read_excel('Bike_Sales.xlsx')

Shape of the data before dropping duplicates

In [3]:
data.shape

(113036, 18)

Checking for duplicates

In [4]:
data.duplicated().sum()

np.int64(1007)

Dropping the duplicates

In [5]:
new_data = data.drop_duplicates()

shape of data after dropping duplicates

In [6]:
new_data.shape

(112029, 18)

Checking for missing values

In [7]:
new_data.isnull().sum()

Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

There are no missing values

Grouping the data into categorical and continuous

In [8]:
new_data.dtypes

Date                datetime64[ns]
Day                          int64
Month                       object
Year                         int64
Customer_Age                 int64
Age_Group                   object
Customer_Gender             object
Country                     object
State                       object
Product_Category            object
Sub_Category                object
Product                     object
Order_Quantity               int64
Unit_Cost                    int64
Unit_Price                   int64
Profit                       int64
Cost                         int64
Revenue                      int64
dtype: object

Changing the data type of 'Day' from and integer to an object

In [9]:
new_data['Day'] = new_data['Day'].astype('object')

In [10]:
new_data.dtypes

Date                datetime64[ns]
Day                         object
Month                       object
Year                         int64
Customer_Age                 int64
Age_Group                   object
Customer_Gender             object
Country                     object
State                       object
Product_Category            object
Sub_Category                object
Product                     object
Order_Quantity               int64
Unit_Cost                    int64
Unit_Price                   int64
Profit                       int64
Cost                         int64
Revenue                      int64
dtype: object

In [11]:
cat_data=new_data.select_dtypes(include='object')
cont_data=new_data.select_dtypes(exclude='object')

In [12]:
cat_data

,Day,Month,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product
0,1,January,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44"
1,1,January,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46"
2,1,January,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48"
3,1,January,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38"
4,1,January,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44"
...,...,...,...,...,...,...,...,...,...
113031,31,December,Adults (35-64),F,United Kingdom,England,Bikes,Road Bikes,"Road-250 Black, 58"
113032,31,December,Young Adults (25-34),F,Germany,Hessen,Bikes,Road Bikes,"Road-550-W Yellow, 38"
113033,31,December,Young Adults (25-34),M,Australia,Queensland,Bikes,Road Bikes,"Road-550-W Yellow, 42"
113034,31,December,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-200 Black, 38"
113035,31,December,Adults (35-64),M,Australia,Victoria,Bikes,Road Bikes,"Road-550-W Yellow, 42"

In [13]:
cont_data

,Date,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2017-01-01,2017,17,2,1519,2443,1848,3038,4886
1,2017-01-01,2017,23,2,1252,2295,2086,2504,4590
2,2017-01-01,2017,33,2,2171,3578,2814,4342,7156
3,2017-01-01,2017,39,2,713,1120,814,1426,2240
4,2017-01-01,2017,42,2,344,540,392,688,1080
...,...,...,...,...,...,...,...,...,...
113031,2021-12-31,2021,52,2,1555,2443,1776,3110,4886
113032,2021-12-31,2021,25,1,713,1120,407,713,1120
113033,2021-12-31,2021,26,1,713,1120,407,713,1120
113034,2021-12-31,2021,33,1,1252,2295,1043,1252,2295
113035,2021-12-31,2021,44,1,713,1120,407,713,1120

In [14]:
import matplotlib as plt

In [15]:
from scipy.stats import f_oneway
import seaborn as sns

In [16]:

def remove_outliers(data,columns):
    for column in columns:
        q_1=data[column].quantile(.25)
        q_2=data[column].quantile(.75)
        IQR=q_2-q_1
        upper_bound=q_2+IQR*1.5
        lower_bound=q_1-IQR*1.5
        
        data[column]=np.where(data[column]>upper_bound,upper_bound,data[column])
        data[column]=np.where(data[column]<lower_bound,lower_bound,data[column])
    return data
    

columns_to_clean=['Customer_Age','Cost','Revenue','Profit','Unit_Price','Unit_Cost']
new = pd.DataFrame(data)

cleaned=remove_outliers(new,columns_to_clean)

In [22]:
cleaned.describe()

,Date,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,2020-01-06 01:36:09.376127744,15.665753,2019.520153,35.887921,11.901660,30.621094,54.412152,298.955762,304.484580,615.297171
min,2017-01-01 00:00:00,1.000000,2017.000000,17.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000
25%,2019-01-09 00:00:00,8.000000,2019.000000,28.000000,2.000000,2.000000,5.000000,39.000000,28.000000,70.000000
50%,2019-10-16 00:00:00,16.000000,2019.500000,35.000000,10.000000,9.000000,24.000000,135.000000,108.000000,245.000000
75%,2021-01-28 00:00:00,23.000000,2021.000000,43.000000,20.000000,42.000000,70.000000,432.000000,432.000000,880.000000
max,2021-12-31 00:00:00,31.000000,2021.000000,65.500000,32.000000,102.000000,167.500000,1021.500000,1038.000000,2095.000000
std,NaN,8.781567,1.179704,10.921009,9.561857,40.233516,64.797787,341.123735,375.207408,722.147599

In [23]:
cleaned['Product_Category'].unique()
cleaned['Product_Category'].value_counts()

Product_Category
Accessories    70120
Bikes          25982
Clothing       16934
Name: count, dtype: int64

In [17]:
cont_data = [col for col in cont_data if col != 'Date']

Cont_data VS Cat_data

In [18]:
new_data['Product_Category'] = new_data['Product_Category'].astype('category')
print(new_data['Product_Category'].dtype)

category

In [19]:
Anova_Results = {}

for col in cont_data:
    if col != 'Product_Category':
        groups = [new_data[new_data['Product_Category'] == category][col]
                  for category in new_data['Product_Category'].cat.categories]
        
        f_stats, p_value = f_oneway(*groups)
        Anova_Results[col] = p_value

Anova_Results_df = pd.DataFrame(list(Anova_Results.items()), columns=['Variable', 'ANOVA p-value'])
print(Anova_Results_df)

         Variable  ANOVA p-value
0            Year  1.539781e-141
1    Customer_Age   4.126857e-20
2  Order_Quantity   0.000000e+00
3       Unit_Cost   0.000000e+00
4      Unit_Price   0.000000e+00
5          Profit   0.000000e+00
6            Cost   0.000000e+00
7         Revenue   0.000000e+00

In [20]:
from scipy import stats

In [21]:
chi_square_Results = {}

for col in cat_data:
    if col != 'Product_Category':
        
        contingency_table = pd.crosstab(new_data[col], new_data['Product Category'])
                  
        
        chi2, p, dof, expected = stats.chi2_contingency(contingency_table)
        chi_square_Results[col]=p

chi_square_Results_df = pd.DataFrame(list(chi_square_Results.items()), columns=['Variable', 'Chi-square p-value'])
print(chi_square_Results_df)

KeyError: 'Product Category'

In [24]:
correlation_matrix = new_data.corr()
print(correlation_matrix['Product_Category'])

ValueError: could not convert string to float: 'January'

qn 2
a model based on the variables in Question1 to  classify the "Product_Category"

In [25]:
#A model based on the variables in Question1 to  classify the "Product_Category" 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

# Choose the top features based on Chi-Squared results
# For example, if you found that 'Customer_Age', 'Age_Group', and 'Sub_Category' are significant
selected_features = ['Customer_Age', 'Unit_Price', 'Sub_Category','Unit_Cost','Order_Quantity','State','Country']  # Update based on your findings
X_selected = cleaned[selected_features]
y = cleaned['Product_Category']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_selected, y, test_size=0.2, random_state=42)

# Create and train the model
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

ValueError: could not convert string to float: 'Bottles and Cages'

The strongest features were chosen to be used in the model.The data was split into training and testing set.And finally the model was generated using RandomForestClassifier, according to the results above

In [26]:
#Accuracy of the model
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

# Predicting on the test set
y_pred = model.predict(X_test)

# Evaluate model performance
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

AttributeError: 'RandomForestClassifier' object has no attribute 'estimators_'